<html>
  <head></head>
  <body>
    <h1 id="extension">Hello from block.liquid</h1>
  </body>
</html>

{% schema %}
  {
    "name": "Code-Splitting-Example",
    "target": "section",
    "stylesheet": "main.css",
    "javascript": "app.js"
  }
{% endschema %}